* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    background: #dadada;
}


.container {
    width: 80%;
    height: 80%;
    margin: 50px auto;
}


.main {
    height: 80%;
    margin-bottom: 20px;
    position: relative;
}

.list-image div {
    flex: 1;
    padding: 5px;
    cursor: pointer;
}


img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.img-feature {
    transition: all 0.5s linear;
    cursor: move;
    transition: opacity 0.4s ease-in-out; /* Hiệu ứng chuyển đổi mờ dần */
    opacity: 1; /* Đảm bảo ảnh luôn hiển thị đầy đủ ban đầu */

}


.list-image {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
}

.control {
    position: absolute;
    top: 50%;
    font-size: 50px;
    color: #fff;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}


.active {
    border: 5px solid rgb(224, 98, 98)
}